# Sample ENV vars for use in project

# DJANGO SECRET_KEY, DEBUG & ALLOWED_HOSTS
SECRET_KEY = "SECRET_KEY_HERE"
DEBUG = True
ALLOWED_HOSTS = 127.0.0.1, localhost
TIME_ZONE = "Africa/Nairobi"

INTERNAL_IPS="127.0.0.1, localhost"

# DATABASE CONFIG
DATABASE_USER = "DATABASE_USER_HERE"
DATABASE_NAME = "DATABASE_NAME_HERE"
DATABASE_PASSWORD = "DATABASE_PASSWORD_HERE"
DATABASE_HOST = "DATABASE_HOST_HERE"
DATABASE_PORT = "DATABASE_PORT_HERE"

# DGO Config
SPACES_SECRET_KEY="SPACES_SECRET_KEY"
SPACES_ACCESS_KEY="SPACES_ACCESS_KEY"

# AWS Config
AWS_STORAGE_BUCKET_NAME='AWS_BUCKET_NAME'
AWS_SECRET_ACCESS_KEY='AWS_SECRET_ACCESS_KEY'
AWS_ACCESS_KEY_ID='AWS_ACCESS_KEY_ID'


# GCP Staticfile Config
GS_BUCKET_NAME = "GS_BUCKET_NAME"
GS_PROJECT_ID = "GS_PROJECT_ID"
GS_CREDENTIALS = "GS_CREDENTIALS"
GS_AUTO_CREATE_BUCKET = "GS_AUTO_CREATE_BUCKET"
GS_AUTO_CREATE_ACL = "GS_AUTO_CREATE_ACL"
GS_FILE_CHARSET = "GS_FILE_CHARSET"
GS_FILE_OVERWRITE = "GS_FILE_OVERWRITE"
GS_MAX_MEMORY_SIZE = "GS_MAX_MEMORY_SIZE"

# OPEN EXCHANGE
OPEN_EXCHANGE_APP_ID=""

# IPSTACK
IPSTACK_API_KEY=""
IPSTACK_URL="http://api.ipstack.com/"

# Time in minutes it takes for a logged in session to expire
IAN_TOKEN_EXPIRY=15000

# AfricasTalking
AFRICASTALKING_USERNAME="username"
AFRICASTALKING_SENDER_ID="IAN"
AFRICAS_TALKING_API_KEY=""


# For user by Fernet
IAN_ENCRYPTION_KEY=""

# For inter server communication
X_IAN_TOKEN=''

# Microservices
NOTIFICATION_BASE_URL="http://127.0.0.1:8200"
