# Sample ENV vars for use in project

# DJANGO SECRET_KEY, DEBUG & ALLOWED_HOSTS
SECRET_KEY = "SECRET_KEY_HERE"
DEBUG = True
ALLOWED_HOSTS = COMMA_SEPARATED_LIST_HERE


# DATABASE CONFIG
DATABASE_USER = "DATABASE_USER_HERE"
DATABASE_NAME = "DATABASE_NAME_HERE"
DATABASE_HOST = "DATABASE_HOST_HERE"
DATABASE_PORT = "DATABASE_PORT_HERE"

# GCP Staticfile Config
GS_BUCKET_NAME = "GS_BUCKET_NAME"
GS_PROJECT_ID = "GS_PROJECT_ID"
GS_CREDENTIALS = "GS_CREDENTIALS"
GS_AUTO_CREATE_BUCKET = "GS_AUTO_CREATE_BUCKET"
GS_AUTO_CREATE_ACL = "GS_AUTO_CREATE_ACL"
GS_FILE_CHARSET = "GS_FILE_CHARSET"
GS_FILE_OVERWRITE = "GS_FILE_OVERWRITE"
GS_MAX_MEMORY_SIZE = "GS_MAX_MEMORY_SIZE"